@use '../abstracts/variables' as *;

html,
body {
	font-size: 62.5%;
}

body {
	font-family: $font-body;
	background-color: $color-background;
}

.visually-hidden {
	border: 0;
	position: absolute;
	z-index: -1;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	display: block;
	margin: 0 -1px -1px 0;
	overflow: hidden;
	padding: 0;
}

.btn {
	display: inline-block;
	padding: 0.8rem 0;
	color: #ffffff;
	border-radius: 1.6rem;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s;
	font: 700 1.6rem / 1.2 $font-ui;
	background-color: #3d5dac;

	&--whatsapp {
		background-color: #25d366;

		&:hover {
			background-color: #1da851;
		}
	}
}
