# dependencies
node_modules
.pnpm-store

# misc
.DS_Store
*.pem
.fleet
.idea
Thumbs.db
**/*.Identifier
README.md
./dev

# Logs and caches
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.cache
.nuxt
dist
build
coverage
logs
*.log

# editor config
.vscode
.idea
*.swp
*.swo
*.iml

# git
.git
.gitignore
