# dependencies
node_modules
pnpm-lock.yaml
package-lock.json

# testing
/coverage
.vitest

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# misc
.DS_Store
*.pem
.fleet
.idea
Thumbs.db
**/*.Identifier
README.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Configs locais de editores
.vscode
.idea
*.swp
*.swo

# git
.git
.gitignore
