services:
  redis:
    container_name: crochet-patterns-redis
    image: redis:8.4.0-alpine3.22
    ports:
      - 6379:6379

  db:
    image: postgres:18.1-alpine3.23
    container_name: crochet-patterns-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - postgres_data_crochet_patterns:/var/lib/postgresql
    ports:
      - 5432:5432

  pgadmin:
    depends_on:
      - db
    image: dpage/pgadmin4:9.11.0
    container_name: crochet-patterns-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_USERNAME}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - 8080:80
    volumes:
      - pgadmin_data_crochet_patterns:/var/lib/pgadmin

  backend:
    depends_on:
      - redis
      - db
    container_name: crochet-patterns-backend
    image: node:22.22.0-alpine3.22
    working_dir: /home/node/app/apps/backend
    environment:
      NODE_ENV: development
    volumes:
      - ../../:/home/node/app:cached
    ports:
      - 3002:3002
    command: ["sh", "-c", "npm ci && npm run dev"]
    tty: true
    stdin_open: true

volumes:
  postgres_data_crochet_patterns:
  pgadmin_data_crochet_patterns:
