services:
  redis:
    container_name: backend-redis
    image: redis:8.4.0-alpine3.22
    ports:
      - 6379:6379
  backend:
    depends_on:
      - redis
    container_name: backend-crochet-patterns
    image: node:22.22.0-alpine3.22
    working_dir: /home/node/app
    environment:
      NODE_ENV: development
    volumes:
      - ../../:/home/node/app:cached
    ports:
      - 3002:3002
    command: ["sh", "-c", "npm ci -w apps/backend && npm run dev -w apps/backend"]
    tty: true
    stdin_open: true
