$columnPadding: 1.6rem;

$layoutWidth: 1280px;

$font-sans: 'Roboto', 'Roboto fallback', sans-serif;
$font-body: 'Roboto', 'Roboto fallback', sans-serif;
$font-heading: 'Roboto', 'Roboto fallback', sans-serif;
$font-ui: 'Roboto', 'Roboto fallback', sans-serif;

$color-primary: #683000;
$color-secondary: #ffd9b3;
$color-background: #f8f4f2;
$color-heading: #000000;
$color-error: #d03838;
