name: Release Canary

on:
  push:
    branches:
      - develop
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: release canary
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm i

      - name: Enter prelease mode
        continue-on-error: true
        run: npm run canary:enter

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          version: npm run version
          title: "chore(root): version apps"
          cwd: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
